<div class="form-zipper">
  <%= form_for [:administrator, @spot], html: {multipart: true, class: "form-horizontal", role: "form", } do |f| %>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.label :name_your_spot, :class => 'control-label'%>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= f.label 'Address / nearest cross streets', :class => 'control-label'%>      
        <%= f.text_field :address, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">
        <%= f.label :city, :class => 'control-label'%>
        <%= f.text_field :city, :class => 'form-control' %>
      </div>
      <div class="col-md-1">
        <%= f.label :state, :class => 'control-label'%>
        <%= f.select(:state, options_for_select(us_states, "CO")) %>
      </div>
    </div>

    <div class="form-group" >
      <div class="col-md-3 col-md-offset-3">
        <%= f.label :zipcode, :class => 'control-label'%>
        <%= f.text_field :zipcode, :class => 'form-control' %>
      </div>
      <div>
        <p class="col-md-3"><%= f.label :image, class: "control-label"%></p>
        <div class="col-md-4"><%= f.file_field :image %></div>
      </div>
    </div>

    <div class="form-group" >
      <div class="col-md-3 col-md-offset-3">
        <%= f.label :latitude, :class => 'control-label'%>
        <%= f.text_field :latitude, :class => 'form-control'%>
      </div>

      <div class="col-md-3">
        <%= f.label :longitude, :class => 'control-label'%>
        <%= f.text_field :longitude, :class => 'form-control'%>
      </div>
    </div>
    <div class="form-group" style="padding-bottom:15px;">
      <div class="col-md-4 col-md-offset-4">
          <%= f.submit "Submit", :class => "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>
</div>