<div>
    <%= link_to "Add New Skate Park", new_administrator_skate_spot_path, class: "btn btn-primary btn-lrg" %>
  <%= link_to "Manage User Skate Spots", administrator_user_skate_spots_path, class: "btn btn-primary btn-lrg", style: "margin-left:10px;"%>
  <%= link_to "Manage Current Users", administrator_users_path, class: "btn btn-primary btn-lrg", style: "margin-left:10px;" %>
  <%= link_to "Dashboard Home", administrator_admins_path, class: "btn btn-primary btn-lrg", style: "margin-left:10px;" %>
</div>
<div class="admin-skate-table">
  <table class="table">
    <thead class="admin-thead">
      <td>Skate Spot</td>
      <td>Submitted By</td>
      <td>State</td>
      <td>Approved</td>
      <td>Update</td>
      <td>Remove</td>
    </thead>
    <tbody>
      <tr><div class="approved">Approved Spots</div></tr>
        <% @approved_spots.each do |spot| %>
        <tr>
          <td><%= link_to spot.name, administrator_user_skate_spot_path(spot) %></td>
          <td><%= spot.city %></td>
          <td><%= spot.state %></td>
          <td><%= spot.approval %></td>
          <td><%= link_to "Deny", denial_administrator_user_skate_spot_path(spot), method: :post, class: "btn btn-warning btn-lrg" %></td>
          <td><%= link_to "Delete", administrator_skate_spot_path(spot), method: :delete, class: "btn btn-danger btn-lrg" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="admin-skate-table">
  <table class="table">
    <thead class="admin-thead">
      <td>Skate Spot</td>
      <td>Submitted By</td>
      <td>State</td>
      <td>Approved</td>
      <td>Update</td>
      <td>Remove</td>
    </thead>
    <tbody>
      <tr><div class="pending">Pending Spots</div></tr>
        <% @pending_spots.each do |spot| %>
          <tr>
            <td><%= link_to spot.name, administrator_skate_spot_path(spot) %></td>
            <td><%= spot.city %></td>
            <td><%= spot.state %></td>
            <td><%= spot.approval %></td>
            <td><%= link_to "Approve", approval_administrator_user_skate_spot_path(spot), method: :post, class: "btn btn-success btn-lrg"%></td>
            <td><%= link_to "Delete", administrator_skate_spot_path(spot), method: :delete, class: "btn btn-danger btn-lrg" %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>