<div class="info-window" style="color:black; float:center;">
  <p><b><%= link_to @spot.name, skate_spot_path(@spot) %></b></p>
  <p><%= @spot.address %><br/>
  <%= @spot.city %>,<%= @spot.state %> <%= @spot.zipcode %></p>
</div>
